{% extends 'frontend/base.html.twig' %}

{% block body %}

    <footer class="footer">
        <div class="footer__container inner">
            <div class="footer__wrap">
                <div class="footer__wrapper">
                    <div class="footer__box">
                        <div class="footer__copyright copyright">
                            {{ config.copyr }}
                        </div>
                    </div>
                    <div class="footer__box">
                        <div class="footer__ctm ctm">
                            <div class="ctm__name">
                                <a href="index-1.htm" rel="nofollow" class="ctm__link" target="_blank">{{ config.developby }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}