{% extends 'frontend/base.html.twig' %}

{% block body %}

    <footer class="footer">
        <div class="footer__container inner">
            <div class="footer__wrap">
                <div class="footer__wrapper">
                    <div class="footer__box">
                        <div class="footer__copyright copyright">
                            © 2021 ОOO «Инжиниринг Групп»
                        </div>
                    </div>
                    <div class="footer__box">
                        <div class="footer__ctm ctm">
                            <div class="ctm__name">
                                <a href="index-1.htm" rel="nofollow" class="ctm__link" target="_blank">Разработка
                                    сайтов
                                    — Simple Solutions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}