
{% extends 'frontend/base.html.twig' %}


{% block body %}
    <div class="main-box">
        <div class="main-box__svg-box">
            <svg id="main-box-bg" class="main-box__svg" width="1151" height="1175" viewbox="0 0 1151 1175"
                 fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M696.365 271.857C615.322 122.647 603.959 -62.5377 681.781 -227.944C736.919 -345.385 828.198 -434.087 935.83 -486.572"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"
                      stroke-dasharray="2 2"></path>
                <path d="M841.535 92.9833L328.031 230.161C338.457 269.428 351.453 307.789 367.018 345.245L857.261 138.297C850.958 123.713 845.709 108.396 841.535 92.9833Z"
                      stroke="#E8494B" stroke-width="0.8672" stroke-miterlimit="10"></path>
                <path d="M1062.03 293.111L1035.14 360.058C1072.73 375.52 1112.11 384.347 1151.43 387.037L1156.4 315.103C1124.5 312.772 1092.77 305.641 1062.03 293.111Z"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"></path>
                <path d="M1156.46 314.91L1151.49 386.844C1160.11 387.36 1168.79 387.683 1177.53 387.812L1177.56 315.638C1170.66 315.647 1163.63 315.404 1156.46 314.91Z"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"></path>
                <path d="M1382.48 143.143C1336.9 211.785 1263.5 250.424 1187.5 253.659L1195.64 469.942C1337.83 464.076 1475.49 392.242 1560.75 263.505C1606.75 194.148 1631.76 116.708 1637.2 39.0061L1423.53 22.4688C1420.48 64.1739 1407.24 105.728 1382.48 143.143Z"
                      stroke="#E8494B" stroke-width="0.8672" stroke-miterlimit="10"></path>
                <path d="M1072.12 229.913L980.477 425.512C1049.21 458.479 1122.92 472.698 1195.7 469.748L1187.56 253.466C1148.61 255.111 1108.89 247.445 1072.12 229.913Z"
                      stroke="#E8494B" stroke-width="0.8672" stroke-miterlimit="10"></path>
                <path d="M706.31 -135.228C669.822 -18.6505 681.256 104.715 732.235 209.732" stroke="#E8494B"
                      stroke-width="4.2447" stroke-miterlimit="10"></path>
                <path d="M953.032 215.801L900.888 265.136C928.117 294.325 959.646 318.914 994.384 338.359L1028.92 275.217C1000.8 259.478 975.229 239.447 953.032 215.801Z"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"></path>
                <path d="M579.401 336.696L1034.85 78.9999" stroke="#E8494B" stroke-width="0.75"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-dasharray="2 2"></path>
                <path d="M1861.81 -18.1626C1865.35 88.236 1844.34 197.076 1795.87 299.874C1633.85 644.362 1226.2 790.987 885.084 627.357C750.37 562.686 646.204 459.408 579.401 336.696"
                      stroke="#E8494B" stroke-width="0.25" stroke-miterlimit="10"></path>
                <path d="M1697.51 253.451C1619.25 416.824 1466.95 541.184 1276.3 574.926C1027.84 618.918 788.837 495.466 672.063 285.35"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"
                      stroke-dasharray="1.5 1.5"></path>
                <path d="M1240.13 292.273L1343.69 782.452C1438 761.999 1528.26 724.275 1609.41 670.899L1338.84 250.788C1308.64 270.717 1275.18 284.796 1240.13 292.273Z"
                      stroke="#E8494B" stroke-width="0.5" stroke-miterlimit="10"
                      stroke-dasharray="2 2"></path>
                <path d="M1095.18 361.251C1003.29 340.017 923.246 283.343 871.767 205.189" stroke="#E8494B"
                      stroke-width="0.3376" stroke-miterlimit="10" stroke-dasharray="1.35 1.35"></path>
                <path d="M1034.8 341.593C1032.37 340.641 1029.99 339.496 1027.62 338.35C1009.92 330.427 992.934 320.821 976.678 310.171C968.808 305.03 961.246 299.561 953.933 293.957"
                      stroke="#E8494B" stroke-width="2.7007" stroke-miterlimit="10"></path>
                <path d="M1112.08 44.0001L789.258 259.628" stroke="#E8494B" stroke-width="0.5064"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-dasharray="1.35 1.35"></path>
                <path d="M789.265 44.7704C777.426 -77.2406 821.881 -203 920.039 -290.241C1048.02 -403.857 1228.73 -417.62 1369.19 -337.901"
                      stroke="#E8494B" stroke-width="0.3376" stroke-miterlimit="10"
                      stroke-dasharray="1.01 1.01"></path>
                <path d="M1499.32 224.956C1468.02 272.406 1425.96 313.84 1374.25 344.943C1285.07 398.617 1183.23 412.13 1089.39 391.145"
                      stroke="#E8494B" stroke-width="2.0255" stroke-miterlimit="10"
                      stroke-dasharray="1.01 1.01"></path>
                <path d="M1082.6 421.58L1089.39 391.145" stroke="#E8494B" stroke-width="0.1688"
                      stroke-miterlimit="10" stroke-dasharray="1.01 1.01"></path>
                <path d="M789.258 259.628C779.926 245.388 771.458 230.356 763.737 214.919" stroke="#E8494B"
                      stroke-width="2.7007" stroke-miterlimit="10"></path>
                <path d="M789.265 44.7699C784.732 -0.933534 788.345 -47.3216 799.545 -91.821C818.378 -166.077 858.611 -235.713 919.981 -290.048C935.352 -303.728 951.584 -316.091 968.37 -326.808"
                      stroke="#E8494B" stroke-width="2.0255" stroke-miterlimit="10"></path>
                <path d="M1129.22 72.334L1094.84 123.07" stroke="#E8494B" stroke-width="0.3376"
                      stroke-miterlimit="10"></path>
                <path d="M1086.53 404.205L1082.6 421.58C1107.44 427.249 1133.18 430.655 1159.16 431.817L1159.86 414.089C1134.89 413.026 1110.17 409.718 1086.53 404.205Z"
                      stroke="#E8494B" stroke-width="0.3376" stroke-miterlimit="10"></path>
                <path d="M1206 291.796C1173.62 295.232 1142.1 293.017 1111.96 286.16L1078.34 436.535C1124.28 447.152 1172.67 450.282 1221.89 445.013C1307.15 435.946 1383.88 402.964 1446.78 353.316L1352.35 232.111C1311.56 264.431 1261.47 285.898 1206 291.796Z"
                      stroke="#E8494B" stroke-width="0.4347" stroke-miterlimit="10"></path>
                <path d="M1352.35 232.111C1311.37 264.372 1261.28 285.84 1206 291.796C1173.62 295.232 1142.1 293.017 1111.96 286.16"
                      stroke="#E8494B" stroke-width="2.7007" stroke-miterlimit="10"></path>
                <path d="M1196.93 770.04C999.229 774.197 808.24 700.617 663.678 568.15" stroke="#E8494B"
                      stroke-width="0.7075" stroke-miterlimit="10" stroke-dasharray="2.83 2.83"></path>
                <path d="M795.835 73.1645C772.18 -41.4705 848.451 -154.806 920.592 -235.408L696.448 -441.502C561.362 -290.794 496.888 -79.1097 540.923 135.233C564.673 250.952 617.343 353.108 689.591 435.899L908.5 243.319C869.697 198.997 808.624 135.312 795.835 73.1645Z"
                      stroke="#E8494B" stroke-width="1.227" stroke-miterlimit="10"></path>
                <path d="M1008.95 311.98L859.762 578.487C953.268 632.084 1056.16 659.837 1159.06 663.106L1169.57 357.103C1114.26 355.453 1059.14 340.565 1008.95 311.98Z"
                      stroke="#E8494B" stroke-width="1.227" stroke-miterlimit="10"></path>
                <path opacity="0.1"
                      d="M816.704 245.404C794.483 212.042 777.65 176.733 765.475 140.522L669.602 172.527C684.62 217.414 705.485 260.916 732.869 302.183C741.073 314.601 749.642 326.498 758.767 337.931L838.05 274.7C830.436 265.205 823.512 255.498 816.704 245.404Z"
                      fill="#E8494B"></path>
                <path d="M816.704 245.404C794.483 212.042 777.65 176.733 765.475 140.522L669.602 172.527C684.62 217.414 705.485 260.916 732.869 302.183C741.073 314.601 749.642 326.498 758.767 337.931L838.05 274.7C830.436 265.205 823.512 255.498 816.704 245.404Z"
                      stroke="#E8494B" stroke-width="0.7075" stroke-miterlimit="10"></path>
                <path d="M971.254 284.247L788.931 532.94C824.257 559.51 861.962 582.317 901.469 601.187L1031.67 320.594C1010.19 310.634 989.987 298.499 971.254 284.247Z"
                      stroke="#E8494B" stroke-width="0.7075" stroke-miterlimit="10"></path>
                <path d="M969.999 233L523.854 721.426" stroke="#E8494B" stroke-width="1.0612"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-dasharray="2.83 2.83"></path>
                <path d="M870.206 8.23047C870.503 27.5277 872.583 47.1565 876.56 66.7301C890.148 132.499 923.413 189.064 968.869 231.403"
                      stroke="#E8494B" stroke-width="1.0612" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-dasharray="2.83 2.83"></path>
                <path d="M932.527 -10.7202C935.168 11.0749 939.865 33.0291 946.702 54.6907C969.929 127.447 1014.32 187.406 1070.8 229.79"
                      stroke="#E8494B" stroke-width="1.0612" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-dasharray="2.83 2.83"></path>
                <path d="M766.263 202.23C766.561 221.528 768.641 241.157 772.618 260.73C786.206 326.499 819.471 383.064 864.926 425.403"
                      stroke="#E8494B" stroke-width="1.0612" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-dasharray="2.83 2.83"></path>
                <path d="M873.206 7.23067C870.888 -138.263 971.008 -269.862 1117.3 -300.651C1166.82 -311.106 1216.07 -308.768 1261.76 -295.907"
                      stroke="#E8494B" stroke-width="1.0612" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-dasharray="2.83 2.83"></path>
                <path d="M523.854 721.426C414.09 619.398 326.023 490.209 271.124 338.831C87.3397 -167.551 344.839 -728.845 846.454 -914.388C1044.58 -987.855 1251.34 -991.573 1440.17 -938.066"
                      stroke="#E8494B" stroke-width="0.3537" stroke-miterlimit="10"></path>
                <path d="M414.981 284.716C329.205 42.8853 355.753 -235.649 511.113 -463.34C713.491 -760.29 1073.75 -881.883 1399.58 -792.346"
                      stroke="#E8494B" stroke-width="0.7075" stroke-miterlimit="10"
                      stroke-dasharray="2.12 2.12"></path>
                <path d="M567.598 229.259L414.981 284.716" stroke="#E8494B" stroke-width="1.0612"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-dasharray="2.83 2.83"></path>
                <path d="M523.854 721.426C497.652 697.193 472.794 671.259 449.165 644.011" stroke="#E8494B"
                      stroke-width="5.6596" stroke-miterlimit="10"></path>
                <path d="M414.981 284.716C382.705 194.049 366.42 98.1216 366.772 1.7739C367.313 -158.89 414.083 -321.091 511.113 -463.34C535.601 -499.148 562.251 -532.399 591.063 -563.091"
                      stroke="#E8494B" stroke-width="4.2447" stroke-miterlimit="10"></path>
                <path d="M1120.09 165.166L1075.87 285.932" stroke="#E8494B" stroke-width="0.7075"
                      stroke-miterlimit="10"></path>
                <path d="M1387.1 571.317C1323.15 595.106 1257.73 607.047 1193.14 608.48L1200.96 931.465C1299.46 929.173 1399.39 910.857 1497.17 874.577C1665.67 812.138 1805.23 705.216 1907.52 571.956L1654.44 374.567C1587.6 461.216 1496.79 530.854 1387.1 571.317Z"
                      stroke="#E8494B" stroke-width="0.911" stroke-miterlimit="10"></path>
                <path d="M1160.31 753.399L1151.57 753.269L1161.09 769.677L1150.71 785.513L1159.4 785.836L1170.02 769.865L1160.31 753.399Z"
                      fill="#E8494B"></path>
                <path d="M1263.84 -376.323C1387.18 -348.462 1494.28 -259.909 1541.07 -131.053C1550.96 -103.98 1557.57 -76.4283 1561.32 -49.1131C1584.91 127.341 1485.09 302.721 1312.83 366.549C1265.16 384.11 1216.32 391.605 1168.67 390.179"
                      stroke="#E8494B" stroke-width="7.0745" stroke-miterlimit="10"
                      stroke-dasharray="2.12 2.12"></path>
                <rect x="669.647" y="-30" width="587.193" height="687" fill="url(#paint0_linear)"></rect>
                <defs>
                    <lineargradient id="paint0_linear" x1="1187.26" y1="31.313" x2="628.921" y2="534.71"
                                    gradientunits="userSpaceOnUse">
                        <stop stop-color="#272832"></stop>
                        <stop offset="0.5625" stop-color="#272832" stop-opacity="0.1"></stop>
                        <stop offset="0.9999" stop-color="#272832" stop-opacity="0"></stop>
                    </lineargradient>
                </defs>
            </svg>
        </div>
        <div class="page-top__content">
            <div class="main-box__wrap inner">
                <div class="main-box__wrapper">
                    <div class="main-box__content">
                        <div class="main-box__title">
                            {{ block1.name | raw  }}
                        </div>
                        <div class="main-box__desc">
                            <h5>{{ block1.text | raw}}</h5>

                            <p>{{ block1.subtext  | raw}}</p>
                            <div class="main-box-scroll">
                                <div class="main-box-scroll__el">SCROLL</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}