{% extends 'frontend/base.html.twig' %}


{% block body %}

    <div class="solutions-box" id="solutions">
        <div class="solutions-box__wrap inner-box">
            <div class="solutions-box__title-box">
                <div class="solutions-box__title page-title _top">
                    {{ solutions[0].blockname }}
                </div>
            </div>
            <div class="solutions-box-list">
                <div class="solutions-box-list__inner swiper-container js-solutions-slider">
                    <div class="solutions-box-list__wrapper swiper-wrapper">
                        {% for item in solutions %}
                        <div class="solutions-box-list__box swiper-slide" data-aos="fade-up">
                            <div class="solutions-box-list__el flip-container">
                                <div class="solutions-box-list__item flipper">
                                    <div class="solutions-box-list__content front">
                                        <div class="solutions-box-list__img-box">
                                            <svg width="149" height="149" viewbox="0 0 149 149" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M127.027 117.731H77.471a3.112 3.112 0 0 0-3.108 3.108 3.111 3.111 0 0 0 3.108 3.108h49.585a3.112 3.112 0 0 0 3.108-3.108c0-1.713-1.424-3.108-3.137-3.108zm0 12.404H77.471a3.111 3.111 0 0 0-3.108 3.108 3.111 3.111 0 0 0 3.108 3.108h49.585a3.112 3.112 0 0 0 3.108-3.108c-.029-1.714-1.424-3.108-3.137-3.108zM21.699 117.731c-5.113 0-9.296 4.183-9.296 9.296 0 5.112 4.183 9.295 9.296 9.295 5.112 0 9.295-4.183 9.295-9.295 0-5.113-4.183-9.296-9.295-9.296zm0 12.404a3.112 3.112 0 0 1-3.108-3.108 3.112 3.112 0 0 1 3.108-3.109 3.112 3.112 0 0 1 3.108 3.109c-.03 1.713-1.394 3.108-3.108 3.108zm0-49.585c-5.113 0-9.296 4.183-9.296 9.295 0 5.113 4.183 9.296 9.296 9.296 5.112 0 9.295-4.183 9.295-9.296 0-5.112-4.183-9.295-9.295-9.295zm0 12.403a3.112 3.112 0 0 1-3.108-3.108 3.112 3.112 0 0 1 3.108-3.108 3.112 3.112 0 0 1 3.108 3.108 3.112 3.112 0 0 1-3.108 3.108zm105.328-37.181H77.471a3.112 3.112 0 0 0-3.108 3.108 3.112 3.112 0 0 0 3.108 3.108h49.585a3.112 3.112 0 0 0 3.108-3.108c0-1.714-1.424-3.108-3.137-3.108z"
                                                      fill="#fff"></path>
                                                <path d="M148.725 58.851V46.477c0-2.963-.9-5.723-2.352-8.105l-.088-.261-19.171-30.79C124.267 2.73 119.358 0 113.955 0H34.77c-5.403 0-10.312 2.73-13.158 7.32L2.44 38.11c-.029.059-.029.117-.058.175A15.372 15.372 0 0 0 0 46.477V58.88c0 5.084 2.498 9.557 6.303 12.404C2.498 74.1 0 78.574 0 83.658v12.403c0 5.084 2.498 9.557 6.303 12.404C2.498 111.283 0 115.756 0 120.839v12.404c0 8.511 6.942 15.482 15.482 15.482h117.732c8.54 0 15.482-6.942 15.482-15.482v-12.404c0-5.083-2.498-9.556-6.303-12.403 3.805-2.818 6.303-7.32 6.303-12.404V83.659c0-5.083-2.498-9.557-6.303-12.403 3.834-2.818 6.332-7.291 6.332-12.404zM26.898 10.573c1.714-2.76 4.648-4.386 7.901-4.386h79.185a9.31 9.31 0 0 1 7.901 4.386l12.781 20.537c-.465-.029-.929-.145-1.394-.145H15.482c-.464 0-.929.087-1.394.145l12.81-20.537zm115.64 110.266v12.404c0 5.112-4.183 9.295-9.295 9.295H15.483c-5.113 0-9.296-4.183-9.296-9.295v-12.404c0-5.112 4.183-9.295 9.296-9.295h117.731c5.141 0 9.324 4.154 9.324 9.295zm0-37.181v12.403c0 5.113-4.183 9.296-9.295 9.296H15.483c-5.113 0-9.296-4.183-9.296-9.296V83.658c0-5.112 4.183-9.295 9.296-9.295h117.731c5.141 0 9.324 4.154 9.324 9.295zm0-24.807c0 5.113-4.183 9.295-9.295 9.295H15.483c-5.113 0-9.296-4.182-9.296-9.295V46.477c0-5.113 4.183-9.296 9.296-9.296h117.731c5.112 0 9.295 4.183 9.295 9.296l.029 12.374z"
                                                      fill="#7F7E80"></path>
                                                <path d="M127.027 43.368H77.471a3.112 3.112 0 0 0-3.108 3.108 3.112 3.112 0 0 0 3.108 3.109h49.585a3.112 3.112 0 0 0 3.108-3.108c0-1.714-1.424-3.109-3.137-3.109zm0 49.585H77.471a3.112 3.112 0 0 0-3.108 3.108 3.112 3.112 0 0 0 3.108 3.109h49.585a3.112 3.112 0 0 0 3.108-3.109c0-1.713-1.424-3.108-3.137-3.108zm0-12.403H77.471a3.112 3.112 0 0 0-3.108 3.108 3.112 3.112 0 0 0 3.108 3.108h49.585a3.112 3.112 0 0 0 3.108-3.108c0-1.714-1.424-3.108-3.137-3.108zM21.699 43.368c-5.113 0-9.296 4.183-9.296 9.296 0 5.112 4.183 9.295 9.296 9.295 5.112 0 9.295-4.183 9.295-9.295 0-5.113-4.183-9.296-9.295-9.296zm0 12.404a3.112 3.112 0 0 1-3.108-3.108 3.112 3.112 0 0 1 3.108-3.108 3.112 3.112 0 0 1 3.108 3.108 3.112 3.112 0 0 1-3.108 3.108z"
                                                      fill="#fff"></path>
                                            </svg>
                                        </div>
                                        <div class="solutions-box-list__name">
                                            {{ item.mainname }}
                                        </div>
                                    </div>
                                    <div class="solutions-box-list__overlay back">
                                        <div class="solutions-box-list-info">
                                            <ul>
                                                {% for items in item.items %}
                                                    <li>{{ items.text }}</li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="solutions-box__btn-box" data-aos="fade-up">
                <button type="button" class="solutions-box__btn btn btn--type-1 js-modal-link"
                        data-id="#feedback">
                    заказать
                </button>
            </div>
        </div>
    </div>

{% endblock %}