table {
    border-collapse: collapse;
    text-align: left;
}

thead {
    margin-right: 15px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'BebasNeue';
    border-bottom: 3px solid #E8494B;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    padding: 1rem 0.5rem;
}

td {
    padding: 0.1rem 0.5rem;
}

td:first-child {
    border-right: 3px solid #E8494B;
}

tr > th:first-child {
    background-color: #E8494B;
}

.table_caption {
    font-style: italic;
    color: #666;
}